body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Aplicar Montserrat a todo el cuerpo */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/*CABECERA*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #333;
    position: relative; /* Para colocar contenido sobre el fondo */
    z-index: 1; /* Asegura que el contenido del header esté por encima del fondo */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido del nav */
}

/* Estilos generales para el body y html */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Asegura que el body tenga una altura del 100% */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilo para las secciones de fondo */
.background {
    position: fixed; /* Mantener la imagen de fondo fija */
    top: 0; /* Coloca en la parte superior */
    left: 0; /* Coloca a la izquierda */
    right: 0; /* Se extiende hasta el borde derecho */
    background-size: contain; /* Mantiene la proporción de la imagen y evita que se corte */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: -1; /* Envía la imagen al fondo */
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente en función de la imagen */
    z-index: -1;
}


.background img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 100%; /* Limita la altura máxima */
    object-fit: contain; /* Asegura que la imagen se mantenga dentro del contenedor sin cortarse */
    margin: 0; /* Asegura que no haya márgenes */
    padding: 0; /* Asegura que no haya padding */
}

.logo {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;            
    padding: 10px;                  
    /*background-color: #e81ab5;*/      
    margin-left: 50px;              /* Ajustar para crear separación desde la izquierda */
    margin-right: 50px;             /* Espacio opcional a la derecha */
}

.left-logo {
    width: 50px;                    
    height: auto;
}

.logo h3 {
    margin-left: 10px;        /* Ajusta el margen derecho según sea necesario */
    font-size: 24px;           /* Opcional: ajustar el tamaño de fuente */
    color: #000;               /* Opcional: ajustar el color */
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    position:absolute;
    margin-left: 340px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; /* Aplicar Montserrat al menú */
    position: relative; /* Necesario para el pseudoelemento ::after */
    padding: 5px 0; /* Añadir padding para separar la barra inferior del texto */
    transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.menu a:hover {
    color: #f5a623; /* Cambia el color del texto al pasar el ratón */
}

/* Pseudoelemento para la barra inferior */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho del enlace */
    height: 2px; /* Altura de la barra */
    background-color: #f5a623; /* Color de la barra */
    transform: scaleX(0); /* Inicialmente, la barra no es visible */
    transition: transform 0.3s ease; /* Suaviza la animación */
    transform-origin: left; /* La animación se despliega desde la izquierda */
}

.menu a:hover::after {
    transform: scaleX(1); /* Hace visible la barra al pasar el ratón */
}

/*MENU DE INICIO DE SESION*/

.login-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

    border: 6px solid rgba(51, 51, 51, 0.8); /* Color negro con 80% de opacidad */
    padding: 20px; /* Aumenta el padding para crear espacio entre el borde y el contenido */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra adicional para resaltar el contenedor */
}

.login-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center; /* Alinea verticalmente */
}

.sign-in-logo {
    width: 50px;
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: -10px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    width: 97%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    background-color: #ffc107;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #ffca2c;
}

#registration-options {
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
    /* Ajusta según sea necesario para reducir el espacio entre los cuadrados */
}

.registration-option {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator-line {
    text-align: center;
    margin: 15px auto;
    position: relative;
}

.separator-line::before,
.separator-line::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    /* Ajusta según sea necesario */
    border-top: 1px solid #ccc;
}

.separator-line::before {
    right: 55%;
}

.separator-line::after {
    left: 55%;
}

.separator-text {
    background-color: #fff;
    /* Ajusta el color de fondo según sea necesario */
    padding: 0 10px;
    position: relative;
    z-index: 1;
    /* Asegura que el texto esté en la capa superior */
    color: #999;
    display: inline-block;
    font-size: 15px;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    /* Ajusta el margen inferior según tus preferencias */
}

.register-text {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

.register-text a {
    color: #ffc107;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}

.terms {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
    width: 340px;
    margin-left: 30px;
}

.terms a {
    color: #ffc107;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

footer {
    font-size: 12px;
    color: #888;
    margin-top: 40px;
}

.error-message {
            color: red;
            font-weight: bold;
            margin-top: 10px;
            text-align: center;
        }