<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FeedApp</display-name>
  <welcome-file-list>
    <welcome-file>startingPageServlet.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreatePoll</display-name>
    <servlet-name>CreatePoll</servlet-name>
    <servlet-class>es.unex.pi.controller.CreatePoll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePoll</servlet-name>
    <url-pattern>/CreatePoll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PollDetailsServlet</display-name>
    <servlet-name>PollDetailsServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.PollDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollDetailsServlet</servlet-name>
    <url-pattern>/PollDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteServlet</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPollServlet</display-name>
    <servlet-name>EditPollServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditPollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPollServlet</servlet-name>
    <url-pattern>/EditPollServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePollServlet</display-name>
    <servlet-name>DeletePollServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeletePollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePollServlet</servlet-name>
    <url-pattern>/DeletePollServlet</url-pattern>
  </servlet-mapping>
</web-app>